# Visual Studio
.vs/

# Build Results
Binaries/
Build/

# Unreal Engine
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio Files
*.VC.db
*.VC.opendb
*.suo
*.user
*.userosscache

# Rider
.idea/

# Logs
*.log